* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  transition: 0.3s ease;
  scroll-behavior: smooth;
  font-size: 16px;
  font-weight: 500;
}

.notify {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: red;
  color: #fff;
  opacity: 0;
  transform: translateY(-10px);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.notify.active {
  opacity: 1;
  transform: translateY(0px);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.6;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

.error {
  color: red;
  animation: 0.3s err linear;
}

textarea {
  resize: vertical;
}

@keyframes err {
  0% {
    transform: translateX(2px);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}

input:hover,
button:hover,
textarea:hover {
  opacity: 0.7;
}

input,
textarea {
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  background-color: #f2f2f2;
}

button {
  padding: 8px 15px;
  cursor: pointer;
  border: 0;
  background-color: blue;
  color: #fff;
  border-radius: 8px;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form {
  width: 500px;
  border-radius: 16px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  /*height: 100%;*/
  background-color: #f2f2f2;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modal_container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal.active, .modal_container.active {
  opacity: 1;
  visibility: visible;
}


h3 {
  font-size: 20px;
  font-weight: 500;
}

.card {
  background-color: #f2f2f2;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.cards {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.fade {
  animation: 0.5s fade;
}

@keyframes fade {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;
  }
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}

.slider > div {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}


.paginate {
  display: flex;
  gap:5px;
  justify-content: center;
}
.page {
  padding: 15px;
  width: 20px;
  height: 20px;
  color:  white;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  background-color: blue;
}
